@import url( 'https://fonts.googleapis.com/css?family=Varela+Round&subset=latin-ext');

@font-face {
      font-family: 'GothamBook';
      src: url('../fonts/gotham-book.eot');
      src: url('../fonts/gotham-book.eot?#iefix') format('embedded-opentype'),
           url('../fonts/gotham-book.woff') format('woff'),
           url('../fonts/gotham-book.ttf') format('truetype'),
           url('../fonts/gotham-book.svg#GothamBook') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'GothamLight';
      src: url('../fonts/gotham-light.eot');
      src: url('../fonts/gotham-light.eot?#iefix') format('embedded-opentype'),
           url('../fonts/gotham-light.woff') format('woff'),
           url('../fonts/gotham-light.ttf') format('truetype'),
           url('../fonts/gotham-light.svg#GothamLight') format('svg');
      font-weight: normal;
      font-style: normal;
  }
