$icon-font-path: '../fonts/'; // bower:scss
 @import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
 // endbower
@import "font.scss";
@import "variables.scss";
@import "widget-body.scss";
@import "widget-header.scss";
@import "widget-footer.scss";
@import "widget.scss";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
// buttons

.btn,
button {
  border: 0;
  text-transform: capitalize;

  &:focus {
    outline: none;
  }
}

.rounded-btn {
  @include border-radius(28px 28px 0 0);
}

.blue-btn {
  background-color: $blue;
  color: #fff;
  transition: all 0.3s ease;

  &:hover {
    background-color: $blue-hover;
  }
}

.green-btn {
  background-color: $green;
  color: #fff;
  transition: all 0.3s ease;

  &:hover {
    background-color: $green-hover;
  }
}

.back-btn {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.close-btn,
.open-btn {
  background: transparent;
}

.close-btn {
  img {
    width: 60px;
    height: 60px;
  }
}
// rating-stars

.star-rating {
  font-size: 0;
  text-align: center;
  margin-top: 10px;

  .star-rating-wrap {
    display: inline-block;
    font-size: 2rem;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .star-rating-ico {
      float: right;
      padding-left: 2px;
      cursor: pointer;
      color: #3c3e8f;

      &:last-child {
        padding-left: 0;
      }
    }

    .star-rating-input {
      display: none;
    }
  }
}

.star-rating-ico:hover ~ .star-rating-ico:before,
.star-rating-ico:hover:before,
.star-rating-input:checked ~ .star-rating-ico:before {
  content: "\f005";
  color: #f1911f;
}
//writing animate
@keyframes loading {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0.2;
    transform: scale(0.3);
  }
}

.write-animate {
  text-align: center;

  span {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background: $font-dark-gray;
    margin: 1em 0.4em;
    opacity: 0.5;
    animation-name: loading;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    transform: scale(1.25);

    &:nth-child(2) {
      animation-delay: 0.1s;
    }

    &:nth-child(3) {
      animation-delay: 0.2s;
    }

    &:nth-child(4) {
      animation-delay: 0.3s;
    }
  }
}
