$body-bg: #f0f0f5;
$purple: #3c3e8f;
$purple-hover: #20214a;
$blue: #179aff;
$blue-hover: #137dd0;
$green: #45ae6e;
$green-hover: #378e5a;
$red: #e04c30;
$red-hover: #c5432b;
$light-blue: #1fbaeb;
$light-purple: #afb0da;
$dark-blue: #057adc;
$font-gray: #9c9c9c;
$font-gray-2: #5b5b5b;
$font-light-gray: #f4f4f4;
$font-light-gray-2: #bebebe;
$font-light-gray-3: #e5e5e5;
$font-light-gray-4: #f7f7f7;
$font-light-gray-5: #f1f1f1;
$font-dark-gray: #7b7b7b;
$font-dark-gray: #959595;
$font-light-purple: #848d9d; //media-query
$break-small: 320px;
$break-mobile: 667px;
$break-large: 1200px; // mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

::-webkit-file-upload-button {
  cursor: pointer;
}
@mixin placeholder {
  &.placeholder {
    @content
  }

  &:-moz-placeholder {
    @content
  }

  &::-webkit-input-placeholder {
    @content
  }
}
// mediaquery
