@import "variables.scss";

.widget-header {
  height: 100px;
  background-color: $purple;
  margin: 0;
  position: relative;
  overflow: hidden;
  @include border-radius(5px 5px 0 0);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  @media screen and (max-width: $break-mobile) {
    height: 75px;

    .circle-img {
      &.with-icon,
      &.with-pic {
        width: 50px;
        height: 50px;
        margin-top: 10px;

        img {
          width: 45px;
          height: 45px;
          margin: 4px auto;
        }
      }

      &.with-pic {
        .back-icon {
          width: 15px;
          height: 15px;
        }

        .img {
          margin: 0 auto;
        }

        .back-btn {
          &.blue-btn {
            top: 20px;
            left: 5px;
            max-width: 30px;
            max-height: 30px;
          }
        }
      }

      &.settings {
        .img {
          width: 30px;
          height: 30px;
          margin: 6px;
        }
      }
    }

    .header-text {
      padding: 10px;
      max-width: 50%;
      margin-top: 10px;

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .img-right {
      right: -30%;
    }

    .icon {
      top: 20px !important;
    }
  }

  .img-left {
    position: absolute;
    left: -25%;
    bottom: 10px;
    overflow: hidden;
    z-index: 0;
  }

  .img-right {
    position: absolute;
    bottom: 10px;
    right: -20%;
  }

  .img-jetlink {
    padding-top: 5px;
  }

  .icon {
    position: absolute;
    top: 25px;
    right: 15px;

    button {
      background-color: transparent;
      transition: all 0.3s ease;
      padding: 10px;

      &:hover {
        background-color: rgba(42, 43, 101, 0.5);
        @include border-radius(5px);
      }
    }
  }

  .close-mobile {
    background-color: transparent;
    color: #fff;
    font-size: 1.75em;
    position: absolute;
    top: 15px;
    right: 12px;
    z-index: 9;
    width: 50px;
    @media screen and (min-width: $break-mobile) {
      display: none;
    }
  }

  &.started-conv {
    display: none;
  }
}

.header-text {
  display: inline-block;
  padding: 33px 0;
  font-family: "GothamLight", sans-serif;

  h5 {
    color: #fff;
    margin: 0;
    font-size: 1.278em;
  }

  p {
    color: $light-purple;
    margin: 0;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 90%;
  }

  img {
    position: absolute;
    right: 25px;
    top: 50px;
  }
  @media screen and (max-width: $break-mobile) {
    max-width: 40%;
  }
}
