@import "variables.scss";

.widget-body-content {}

.widget-body-wrap {
  .widget-body {
    max-height: 560px;
    position: absolute;
    overflow-y: scroll;
    padding: 0 10px 50%;
    min-height: 250px;
    z-index: 1;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    word-break: break-word;
    @media screen and (max-width: $break-mobile) {
      top: 80px;
      max-height: 100%;
      padding-bottom: 35%;
    }

    .welcome-message {
      position: relative;
      top: 0;

      &.slide {
        top: -300px;
      }
    }

    .jetlink-bubble {
      display: flex;
      position: relative;
      height: auto;
      max-width: 225px;
      width: 100%;
      border: 10px solid $blue;
      @include border-radius(5px);
      padding: 20px 15px;
      margin: 40px auto;

      &:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 30px;
        right: auto;
        top: auto;
        bottom: -40px;
        border: 20px solid;
        border-color: $blue transparent transparent $blue;
      }

      &:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 38px;
        right: auto;
        top: auto;
        bottom: -20px;
        border: 12px solid;
        border-color: #fff transparent transparent #fff;
      }
    }

    .bubble-text {
      max-width: 280px;
      margin: 0 auto;
      text-align: center;
      color: $font-gray;
      padding-bottom: 20px;
      line-height: 1.500em;
      letter-spacing: -0.04em;
      font-size: 1em;
      font-family: "GothamLight", sans-serif;
    }

    .conv {
      display: block;
      margin: 5px 0 0;

      .me {
        display: flex;
        align-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        .me-text {
          background-color: $blue;
          color: #fff;
          padding: 15px;
          @include border-radius(5px);
          font-size: 12px;
          margin: 5px 0;
          animation: slideInUp 0.3s linear both;
          max-width: 90%;

          .emojioneemoji {
            max-width: 16px;
          }
        }

        .green-btn {
          animation: slideInUp 0.3s linear both;
          margin: 8px 0;
          @include border-radius(23px);
          padding: 7px 15px;
          font-size: 12px;
          font-weight: 100;
          font-family: "GothamLight", sans-serif;
          max-width: 135px;
        }

        .emojiContent {
          display: inline-block;
        }
      }

      p {
        margin-left: auto;
        color: $font-light-purple;
        text-align: center;
        margin: 0 5px 10px 0;
        font-size: 8px;
      }

      &.with-pic {
        margin-left: 20px;

        p {
          text-align: left;
          font-size: 1em;
          margin: 0 0 5px;
          color: $font-gray-2;
          letter-spacing: normal;
          font-family: "GothamLight", sans-serif;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &.typing {
          .you {
            padding: 10px 20px;

            p {
              font-size: 14px;
              margin: 0 0 -5px;
            }
          }
        }
      }

      &.buttons {
        margin-left: 15px;

        .you {
          max-width: 100%;
          width: 100%;

          .question-wrap {
            max-width: 310px;
            margin: 0 auto;

            .question {
              color: $purple;
              text-align: center;
              line-height: normal;
              max-width: 190px;
              margin: 10px auto;
              letter-spacing: 0;
            }

            .btn-group {
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 5px 0;
              flex-wrap: wrap;

              .green-btn {
                margin: 0 5px 5px;
                @include border-radius(23px);
                padding: 7px 15px;
                font-family: "GothamLight", sans-serif;
                max-width: 135px;
                font-size: 12px;
                transition: all 0.3s ease;

                &:hover {
                  background-color: $green-hover;
                }
              }
            }
          }
        }

        .question-header {
          border: 1px solid #ebebf4;
          @include border-radius(5px);
          margin-left: -15px;
          color: $purple;
          margin-top: -15px;
          padding-top: 15px;

          .header-text {
            display: block;

            h5,
            p {
              color: $purple;
              font-family: "GothamBook", sans-serif;
              font-size: 14px;
            }
          }
        }
      }

      .you {
        background-color: $font-light-gray;
        padding: 20px 20px 20px 30px;
        max-width: 90%;
        margin: 10px 0 0;
        display: inline-block;
        @include border-radius(5px);
        color: $font-gray-2;
        position: relative;
        min-height: 58px;
        animation: slideInUp 300ms linear both;

        .pp {
          width: 36px;
          height: 36px;
          position: absolute;
          left: -20px;
          top: 15%;
        }
      }

      .file-type-alert {
        background-color: #fcedef;
        padding: 10px 20px;
        @include border-radius(5px);
        margin: 5px 0;

        p {
          font-size: 10px;
          margin: 0;
          font-family: "GothamLight", sans-serif;
          color: $font-gray-2;
        }
      }
    }

    .notified {
      position: relative;
      z-index: 2;
      text-align: center;
      background-color: $font-light-gray;
      margin: 45px 10px 5px;
      @include border-radius(5px);
      padding-bottom: 10px;

      .img {
        max-width: 120px;
        margin-top: -60px;
      }

      p {
        text-transform: capitalize;
        margin-top: -10px;
      }

      .form {
        margin: 0 15px;
        animation: fadeIn 500ms linear both;

        input {
          height: 40px;
          border-color: $font-light-gray-3;
          font-size: 12px;

          &.text {
            display: inline-block;
            width: 100%;
            @include border-radius(0 5px 5px 0);
            border-left: 0;
            font-size: 12px;
            box-shadow: none;
          }
          @include placeholder {
            font-size: 1.111em;
            font-weight: 100;
            color: $font-gray-2;
            opacity: 0.4;
          }
        }

        .btn-group {
          display: flex;
        }

        .btn-default {
          font-weight: 100;
          color: $font-light-gray-2;
          height: 40px;
          line-height: 40px;
          padding: 0 10px;
          border: 1px solid $font-light-gray-3;
          font-family: "GothamBook", sans-serif;
          font-size: 12px;

          &.active,
          &:active {
            background-color: $blue;
            border: 1px solid $font-light-gray-3;
            color: #fff;
            box-shadow: none;
            font-family: "GothamLight", sans-serif;

            &:focus {
              outline: none;
            }
          }
        }

        .green-btn {
          width: 30px;
          height: 30px;
          @include border-radius(28px 0 0 28px);
          position: absolute;
          top: 5px;
          right: 1px;
          padding-left: 10px;
        }

        &.has-error {
          .green-btn {
            &.submit-btn {
              background-color: #e74c3c;
            }
          }

          .text {
            background-color: #fcedef;
          }

          input.sms {
            background-color: #fcedef;
          }
        }

        .error-message,
        .error-message-sms {
          display: none;
          color: #e74c3c;
          text-align: right;
          margin: 7px 0 0;
        }
      }

      &.message {
        animation: pulse 500ms linear both;
        display: none;

        .notification-text {
          position: relative;

          &:after {
            content: "";
            position: absolute;
            width: 100%;
            max-width: 70px;
            height: 2px;
            background-color: $dark-blue;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            bottom: -10px;
          }
        }

        .notification-type {
          margin-top: 20px;
          margin-bottom: 0;
        }
      }

      &.home {
        animation: slideInUp 500ms linear both;
      }

      span {
        color: $purple;
      }

      .confirmed-mail-field,
      .confirmed-sms-field {
        display: none;
      }
    }

    .conv-jetlink {
      margin: 5px 0 0;

      .full-width-conv {
        @include border-radius(5px);
        padding: 20px;
        background-color: $font-light-gray-4;
        display: flex;
        margin-bottom: 5px;
        font-family: "GothamBook", sans-serif;
        letter-spacing: 0;
        animation: fadeInRight 500ms linear both;

        &:nth-child(2n) {
          // animation: fadeInRight 400ms linear both;
        }

        .talk-text {
          margin-right: 15px;
          display: flex;

          img {
            @include border-radius(5px);
            max-width: 35px;
            max-height: 35px;
            margin-right: 3px;

            &:last-child {
              margin-right: 0;
            }
            @media screen and (max-width: $break-mobile) {
              margin: 3px 3px 3px 0;
            }
          }
        }

        .message {
          color: $font-gray;
          font-size: 12px;

          .responder {
            span {
              color: $purple;
              font-weight: bold;
            }
          }
        }

        .time {
          margin-left: auto;
          font-size: 0.813em;
          color: $font-gray;
          opacity: 0.5;
        }
      }

      .full-width-conv-link {
        display: block;
        text-decoration: none;

        &:hover {
          .full-width-conv {
            transition: all 0.3s ease;
            background-color: #ecf0f1;
          }
        }
      }
    }

    &.story {
      .story-top {
        background-color: $font-light-gray-4;
        margin: 10px 10px 0;

        .header-img {
          img {
            @include border-radius(5px);
            position: relative;
            z-index: 2;
          }
        }
      }

      .conv {
        .you {
          margin: 0;
          max-width: 100%;
          letter-spacing: 0;

          h5 {
            color: $purple;
            font-family: "GothamBook", sans-serif;
            font-weight: bold;
          }

          p {
            font-family: "GothamLight", sans-serif;
            margin-bottom: 15px;
          }

          .pp {
            left: -10px;
            bottom: 24px;
            top: inherit;
          }
        }

        &.with-pic {
          margin: -5px 5px 0 10px;

          .question-wrap {
            .btn-group {
              margin-top: 0;
            }
          }
        }
      }
    }

    .rate {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      flex-direction: column;

      .circle-img {
        width: 140px;
        height: 140px;
        margin: 0 auto;

        img {
          position: relative;
          display: inline;
          margin: 0 auto;
          height: 100%;
          width: auto;
        }
      }

      p {
        text-align: center;
        color: $purple;
        font-size: 1.333em;
        margin-top: 30px;
        margin-bottom: 0;
      }
    }

    .owl-carousel {
      margin-top: 10px;

      .item {
        background-color: $font-light-gray-4;

        .item-text {
          padding: 18px 20px;
        }

        img {
          @include border-radius(5px);
        }
      }

      .owl-nav [class*='owl-'] {
        background-color: $purple;
        padding: 5px 12px;
      }

      .btn-group {
        width: 80%;
        margin: 20px auto;
        display: block;

        .green-btn {
          margin: 0 1% 10px 0;
        }

        .green-btn,
        .red-btn {
          font-weight: 100;
          font-family: "GothamLight", sans-serif;
          font-size: 12px;
          width: 48%;
          color: #fff;
          height: 30px;
          @include border-radius(23px);
          padding: 0;
          transition: all 0.3s ease;
        }

        .red-btn {
          background-color: $red;
          margin: 0 0 10px 1%;

          &:hover {
            background-color: $red-hover;
          }
        }
      }
    }

    .owl-nav {
      .owl-prev {
        position: absolute;
        left: 0;
        top: 36%;
      }

      .owl-next {
        position: absolute;
        right: 0;
        top: 36%;
      }
    }
  }
}

.settings {
  .top {
    max-width: 265px;
    text-align: center;
    font-family: "GothamLight", sans-serif;
    margin: 30px auto;

    h5 {
      color: $blue;
      font-weight: bold;
      font-size: 1.167em;
    }

    p {
      color: $font-gray;
      position: relative;
      padding-bottom: 10px;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        max-width: 70px;
        height: 2px;
        background-color: #057adc;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: -10px;
      }
    }
  }
}

.service-list {
  padding: 0 7px;

  .list-row {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $font-light-gray-5;
    padding: 10px 0;
    align-items: baseline;
    position: relative;

    .img-wrap {
      margin-right: 20px;
      width: 30px;
      height: 30px;
    }

    .list-text {
      color: $blue;
      font-size: 1.167em;
    }

    button {
      margin-left: auto;
      background-color: $font-light-gray;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      color: #d2d2d2;
      font-size: 1.25em;
    }

    &.opened {
      small {
        position: absolute;
        bottom: 2px;
        left: 52px;
      }

      button {
        display: none;
      }
    }

    .opened-text {
      margin-left: auto;
      color: $green;
      font-weight: bold;
    }
  }
}

.attachment-preview {
  img {
    display: block;
    max-width: 200px;
    animation: pulse 300ms linear both;
    @include border-radius(5px);
    margin: 5px 0;
  }
}
