@import "variables.scss";

body {
  background-color: $body-bg;
  height: 100%;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 0.04em;
  font-size: 13px;
}

body,
html {
  height: 100%;
}

.widget-container-wrap {
  background-color: #fff;
  position: absolute;
  max-width: 370px;
  width: 100%;
  right: 30px;
  bottom: 90px;
  min-height: 250px;
  max-height: 590px;
  height: calc(100% - 75px - 20px);
  overflow: hidden;
  @include border-radius(5px);
  box-shadow: 0 5px 5px 0 rgba(1, 1, 1, 0.01);
  box-shadow: 0 10px 27px 0 rgba(0,0,0,.15);
  visibility: hidden;
  opacity: 0;
  animation: fadeIn 400ms linear both;
  visibility: hidden;
  display: none;
  @media screen and (max-width: $break-mobile) {
    max-width: 100%;
    width: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    height: auto;
    max-height: 100%;
  }
}

.widget-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .widget-top {
    &.without-footer {
      .body-logo-wrap {
        bottom: 5px;
      }
    }
  }
}

.body-logo-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 75px;
  z-index: -1;

  .body-logo {
    max-width: 105px;
    margin: 20px auto 0;
    position: relative;
    z-index: 0;
  }

  .text-center {
    color: $font-light-purple;
    font-size: 0.722em;
    margin-top: 15px;
    opacity: 0.3;
    font-weight: 100;
    font-family: "GothamLight",sans-serif;
  }
}

.rounded-btn {
  width: 50px;
  height: 55px;
  position: absolute;
  right: 5px;
  bottom: 0;
  transition: all 0.3s ease-in-out;

  &.file-input {
    cursor: pointer;

    input[type="file"] {
      cursor: pointer;
      opacity: 0;
      position: relative;
      z-index: 9;
      height: 60px;
    }

    img {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
  @media screen and (max-width: $break-mobile) {
    width: 45px;
    height: 50px;
    position: absolute;
    right: 5px;
    bottom: 0;
  }
  @media screen and (min-width: $break-mobile) {
    position: absolute;
    right: 5px;
    bottom: 0;
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  &.show {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

.input-placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 25px;
  left: 20px;
  color: #a4a4a4;
  pointer-events: none;
  transition: opacity 0.08s linear;
  z-index: 100;
  font-size: 15px;
  z-index: 3;
}

.arrow-outer {
  position: absolute;
  width: 70px;
  height: 20px;
  top: -12px;
  left: 42%;
  overflow: hidden;
}

.arrow-inner {
  transform: rotate(45deg);
  background-color: #45ae6e;
  width: 100px;
  height: 100px;
  bottom: -100%;
  left: -15px;
  position: relative;
  border-radius: 5px;
}
// img-circle

.circle-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 15px 15px 15px 20px;
  display: inline-block;
  overflow: hidden;
  float: left;
  background-color: #fff;
  border: 4px solid $light-blue;

  &.with-icon {
    .img {
      width: 50px;
      height: 50px;
      margin: 10px auto;
      display: block;
    }

    &.settings {
      .img {
        width: 50px;
        height: 50px;
      }
    }
  }

  &.with-pic {
    animation: fadeIn 0.2s linear;

    .back-btn {
      animation: fadeIn 0.4s linear;
    }
  }

  .img {
    position: relative;
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

  .back-btn {
    position: absolute;
    left: 5px;
    top: 34px;
  }
}

.open-conv-wrap {
  position: fixed;
  right: 30px;
  bottom: 15px;
  animation: fadeIn 400ms linear both;

  &.with-img {
    .open-conv {
      align-items: flex-end;

      .open-text {
        line-height: inherit;
        max-height: 100%;
        padding-bottom: 50px;
        position: relative;

        h5 {
          font-size: 1.118em;
          margin-top: 20px;
          font-weight: bold;
          color: $font-dark-gray;
        }

        img {
          max-width: 300px;
          margin: 0 auto 20px;
          display: block;
          text-align: center;
          @include border-radius(5px);
        }

        p {
          max-width: 350px;
          font-size: 0.75em;
          color: $font-gray;
          margin-bottom: 20px;
        }

        .inner {
          transform: rotate(27deg);
          background-color: white;
          width: 65px;
          height: 100px;
          bottom: 0;
          left: -70px;
          position: relative;
          border-radius: 5px;
          box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.09);
        }

        .outer {
          position: absolute;
          right: -65px;
          bottom: -35px;
          overflow: hidden;
        }
      }
    }

    .purple-btn {
      background-color: $purple;
      color: #fff;
      max-width: 250px;
      width: 100%;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
      @include border-radius(22px 22px 0 0);
      transition: all 0.3s ease;

      &:hover {
        background-color: $purple-hover;
      }
    }
  }

  &.active {
    .open-btn {
      img {
        opacity: 0;
        transform: rotate(30deg) scale(1);
      }
    }

    .close-btn {
      i {
        opacity: 1;
        transform: rotate(0deg);
      }
    }
  }
}

.open-conv {
  padding: 0;
  display: flex;
  align-items: center;
  opacity: 1;
  visibility: visible;

  .open-text {
    background-color: #fff;
    padding: 0 15px;
    // max-height: 40px;
    line-height: 42px;
    @include border-radius(5px);
    box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.09);
    font-family: "GothamBook", sans-serif;
    letter-spacing: 0;
    position: relative;
    animation: slideInRight 0.3s linear;
    margin-right: 15px;
    @media screen and (max-width: $break-mobile) {
      font-size: 1em;
    }
  }

  .jetlink-launcher {
    position: relative;
    z-index: 3;
    padding: 0;
    background-color: #1e6db2;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s linear;
    width: 60px;
    height: 60px;
    overflow: hidden;
    box-shadow: 0 4px 32px 0 rgba(0,0,0,.175);
    cursor: pointer;

    .open-icon {
      transform: rotate(0deg) scale(1);
      opacity: 1;
      width: 40px;
      height: 40px;
      transition: all 0.2s linear;

      img {
        max-width: 40px;
      }
    }

    .close-icon {
      opacity: 0;
      transform: rotate(-30deg);
      width: 40px;
      height: 40px;
      transition: all 0.2s linear;
      color: #fff;
      height: 0;

      i {
        text-align: center;
        display: block;
        line-height: 40px;
      }
    }

    &.active {
      .open-icon {
        opacity: 0;
        transform: rotate(30deg) scale(0);
        height: 0;
      }

      .close-icon {
        display: inline-block;
        opacity: 1;
        transform: rotate(0deg);
        height: 40px;
      }
    }

    &:hover {
      transform: scale(1.1);
      transition: all 0.1s linear;
    }

    &:active {
      transform: scale(0.95);
      transition: all 0.1s linear;
    }
  }

  .open-btn {
    margin-left: 10px;
    position: relative;
    z-index: 3;
    padding: 0;
    background-color: #1e6db2;
    padding: 10px;
    border-radius: 50%;

    img {
      max-width: 40px;
      transition: all 0.5s linear;
      opacity: 1;
      transform: rotate(0deg) scale(1);
    }
  }
}

.close-conv {
  text-align: right;
  opacity: 0;
  visibility: hidden;
  display: none;

  .close-btn {
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    background-color: #1e6db2;
    padding: 10px;
    border-radius: 50%;

    i {
      transition: all 0.5s linear;
      opacity: 0;
      transform: rotate(-30deg);
      color: #fff;
    }
  }

  &.open {
    @media screen and (max-width: $break-mobile) {
      display: none;
    }
  }
}

.open {
  opacity: 1;
  visibility: visible;
  display: block;
}

.close {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.inner-arrow {
  transform: rotate(27deg);
  background-color: white;
  width: 55px;
  height: 100px;
  bottom: 0;
  left: -65px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 5px 3px 2px rgba(0, 1, 1, 0.09);
}

.outer-arrow {
  position: absolute;
  right: -55px;
  bottom: -55px;
  overflow: hidden;
}

.image-upload > input {
  display: none;
}

.image-upload img {
  width: 80px;
  cursor: pointer;
}
//tag

.tag {
  background-color: $purple;
  display: inline-block;
  color: #fff;
  animation: slideInUp 300ms linear;
  @include border-radius(5px);
  padding: 7px 14px;
  margin-top: 10px;
  font-family: "GothamLight", sans-serif;
  transition: all 0.3s ease;

  &:hover {
    background-color: $purple-hover;
  }
}

.tag-group {
  box-shadow: 0 0 27px 0 rgba(60, 62, 143, 0.09);
  padding: 20px;
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  z-index: 9;
  @media screen and (max-width: $break-mobile) {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
  }

  .tag {
    margin: 0 3px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.intl-tel-input {
  &.allow-dropdown {
    display: none;
    width: 100%;
  }

  .country-list {
    bottom: 100%;
    @media screen and (max-width: $break-mobile) {
      bottom: auto;
    }
  }
}

.file-name {
  padding: 15px;
  border: 1px solid #ddd;
  @include border-radius(5px);
  animation: fadeIn 300ms linear both;
  margin: 5px 0;

  i {
    margin-right: 5px;
  }
}

.jetlink-open {
  position: relative;
}

.jetlink-badge {
  background-color: $green;
  color: #fff;
  position: absolute;
  right: 40px;
  top: -5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  z-index: 9;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 3px;
}
// emoji

.emojionearea {
  border: 0;

  &.emojionearea-inline {
    z-index: 2;
  }

  .emojionearea-editor {
    min-height: 70px;
    max-height: 150px;
    padding: 25px 30% 10px 15px;
    font-size: 13px;
    font-family: "GothamLight", sans-serif;
  }

  .emojionearea-picker {
    &.emojionearea-picker-position-top {
      right: 0;
      width: 100%;
      @media screen and (max-width: $break-small) {
        right: 0;
      }

      .emojionearea-wrapper {
        width: 100%;
        &:after{
          right: 75px;
        }
      }
    }
  }

  .emojionearea-button {
    right: 60px;
    bottom: 0;
    width: 50px;
    height: 55px;
    top: inherit;
    opacity: 1;

    .emojionearea-button-close,
    .emojionearea-button-open {
      background-color: $blue;
      width: 50px;
      height: 55px;
      line-height: 50px;
      background-image: none !important;
      @include border-radius(28px 28px 0 0);
      transition: all 0.3s ease;
      transform: none;
      animation: pulse 300ms linear both;
      @media screen and (max-width: $break-mobile) {
        width: 45px;
        height: 50px;
      }

      &:hover {
        background-color: $blue-hover;
      }
    }

    .emojionearea-button-open {
      &:after {
        content: "\f118";
        font-family: "FontAwesome";
        display: block;
        text-align: center;
        position: relative;
        color: #fff;
        font-size: 2em;
        -webkit-font-smoothing: antialiased;
        @media screen and (max-width: $break-mobile) {
          left: 10px;
        }
      }
    }

    .emojionearea-button-close {
      position: relative;
      z-index: -1;
      -webkit-font-smoothing: antialiased;

      &:after {
        font-family: "FontAwesome";
        font-size: 2em;
        color: #fff;
        content: "\f00d";
        display: block;
        text-align: center;
      }
    }

    &.active {
      > div {
        &.emojionearea-button-close {
          transform: none !important;
          transition: none !important;
        }
      }
    }
  }

  &.focused {
    box-shadow: none;
  }
}
