@import "variables.scss";

.widget-footer-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  @media screen and (max-width: $break-mobile) {}
}

.widget-footer {
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  min-height: 55px;
  background-color: rgb(255, 255, 255);
  display: flex;
  position: relative;
  font-family: "GothamBook", sans-serif;
  letter-spacing: inherit;

  &:hover {
    .arrow-inner {
      transition: all 0.3s ease;
      background-color: $green-hover;
    }
  }

  .full-width {
    &:hover {
      transition: all 0.3s ease;
      background-color: $green-hover;
    }
  }

  .input {
    word-wrap: break-word;
    white-space: pre-wrap;
    min-height: 70px;
    max-height: 160px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 30px 130px 0 30px;
    border: 0;
    position: relative;
    z-index: 1;
    color: $font-light-purple;
    width: 100%;
    user-select: text;

    &:focus {
      outline: none;
    }
  }

  .foo-btn-group {
    position: absolute;
    right: 10px;
    bottom: 0;
    z-index: 1;
  }

  .green-btn {
    outline: none;

    &.full-width {
      position: relative;
      color: #fff;
      @include border-radius(15px 15px 0 0);
      height: 60px;
      line-height: 60px;
      font-size: 1.111em;
      width: 100%;
      max-width: 260px;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: $break-mobile) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
  }

  .rounded-btn {
    animation: pulse 300ms linear both;
  }

  button.blue-btn {
    -webkit-font-smoothing: antialiased;

    &.rounded-btn {
      &.file-input {
        &:after {
          content: "\f0c6";
          font-family: "FontAwesome";
          font-size: 2em;
          display: block;
          text-align: center;
          height: 60px;
          line-height: 50px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }
}

.footer-shadow {
  box-shadow: 0 0 27px 0 rgba(28, 28, 28, 0.09);
}

.footer-shadow-intense {
  box-shadow: 0 0 27px 0 rgba(60, 62, 143, 0.09);
  position: relative;
  z-index: 9;
}
